@import url('https://fonts.googleapis.com/css2?family=Abel&family=Noto+Sans+Mono:wght@100..900&family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

.homepage {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('./background.png') no-repeat center center/cover;
    padding-top: 8vh;
    font-family: Abel;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    filter: blur(8px);
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}
.content button {
    background-color:#4a4a4a;
    border-style: solid;
    margin-top: 110px;
    border-width: 0;
    width: 120px;
    height: 50px;
    font-size: large;
    border-radius: 0;
    font-family: Abel;
    text-transform: uppercase;
    color: #757575;
    transition: 0.2s ease-in-out;
}

.content button:hover {
    cursor: pointer;
    background-color: white;
}
