@import url('https://fonts.googleapis.com/css2?family=Abel&family=Noto+Sans+Mono:wght@100..900&family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.shop {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: auto;
}

.content {
    display: flex;
    min-width: 87%;
    height: auto;
    gap: 10px;
    flex-direction: column;
    margin-top: 300px;
}

.content1, .content2, .content3 {
    background-color: #333;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 280px;
}

.slide-panel {
    display: flex;
    align-items: center;
    width: 25em;
    height: 25em;
    overflow-x: scroll;
    scroll-snap-type: mandatory;
    scroll-behavior: smooth;
}

.prev, .next {
    width: 2em;
    height: 2em;
    cursor: pointer;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.3s;
}

.prev:hover, .next:hover {
    transform: scale(1.25);
}

.prev {
    background-image: url('./images/prevv.jpg');
}
.next {
    background-image: url('./images/nextt.JPG');
}

.slide-panel img {
    scroll-snap-align: start;
    min-width: 100%;
    border-radius: 0.3em;
    padding: 10px;
}

@media only screen and (max-width: 550px) {
    .content {
        flex-direction: column;
    }

    .content1, .content2, .content3 {
        min-height: 180px;
    }
}

::-webkit-scrollbar {
    display: none;
}